/*
Theme Name: larkyparky
Theme URI: www.Monjil.com.bd
Author: Jobaer Shuman
Author URI: www.diehardcoder.com
Description: 2018 larkyparky reseller site
Version: 1.0
*/

html {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

*, 
*:before, 
*:after{
	-webkit-box-sizing: inherit;
	   -moz-box-sizing: inherit;
			box-sizing: inherit;
}

body{
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: normal;
	margin: 0;
	padding: 0;
	color: #000;
}

/* common style */
h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;
	margin: 0 0 20px;
	line-height: 1;
	font-weight: bold;
}

a{
	color: #8bc34a;
	outline: none !important;

	-webkit-transition: all 0.3s ease-in-out 0s;
	   -moz-transition: all 0.3s ease-in-out 0s;
	     -o-transition: all 0.3s ease-in-out 0s;
	    -ms-transition: all 0.3s ease-in-out 0s;
	        transition: all 0.3s ease-in-out 0s;
}

a:active,
a:focus,
a:hover{
	color: #56ffff;
	outline: none !important;
	text-decoration: none;
}

ul li,
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

h1{
	font-size: 48px;
}

h2{
	font-size: 36px;
}

h3{
	font-size: 24px;
}

h4{
	font-size: 20px;
}

h5{
	font-size: 18px;
	font-weight: bold;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0 0 20px;
	font-weight: normal;
}

img{
	max-width: 100%;
	height: auto;
}

button{
	border: none;
}

label{
	font-weight: normal;
	display: block;
}

textarea, select, input{
	display: inline-block;
	background-color: #fff;
	color: #333;
	height: 46px;
	width: 100%;
	padding: 12px 10px 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	outline: none !important;
	border-radius: 4px;
	box-shadow: none;
	margin-bottom: 10px;
	border: 1px solid #8bc34a;
}

select{
	background: #fff url(images/select_arrow_bg.png) no-repeat right center;
	padding: 8px 40px 8px 10px;
	cursor: pointer;
	color: #000;
	-webkit-appearance: none; 
       -moz-appearance: none;
   			appearance: none;
}

textarea{
	height: auto;
	min-height: 100px;
}

textarea:focus, select:focus, input:focus{
	border-color: #639823;
	outline: none !important;
	box-shadow: none;
}

input[type="submit"],
.button{
	font-family: 'Open Sans', sans-serif;
	background: #8bc142;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-align: center;
	padding: 12px 15px 12px;
	border-radius: 4px;
	border: 1px solid #8bc34a;
	height: 46px;
	box-shadow: none;
	width: auto;
	min-width: auto;
	text-shadow: none;
	cursor: pointer;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

	-webkit-transition: all 0.3s ease-in-out 0s;
	   -moz-transition: all 0.3s ease-in-out 0s;
	    -ms-transition: all 0.3s ease-in-out 0s;
	     -o-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
			
}

input[type="submit"].btn_lg,
.button.btn_lg{
	height: 58px;
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	padding: 20px 25px 14px;
}

input[type="submit"]:active,
input[type="submit"]:focus,
input[type="submit"]:hover,
.button:active,
.button:focus,
.button:hover{
	background: #639823;
	border-color: #639823;
	color: #fff;
	outline: none !important;
	box-shadow: none;
	text-shadow: none;
}

input[type="submit"]:active,
input[type="submit"]:focus,
input[type="file"]:active,
input[type="checkbox"]:active, 
input[type="radio"]:active,
input[type="file"]:focus,
input[type="checkbox"]:focus, 
input[type="radio"]:focus{
	outline: none !important;
}


::-webkit-input-placeholder { color: #6e6e6e; opacity: 1; }
:-moz-placeholder { color: #6e6e6e; opacity: 1; }
::-moz-placeholder { color: #6e6e6e; opacity: 1; }
:-ms-input-placeholder { color: #6e6e6e; opacity: 1; }



/*** To start style ***/
.clearFix:after,
.clearFix:before,
.wrapper:after,
.wrapper:before,
.sec_block:after,
.sec_block:before,
section:after,
section:before,
header:after,
header:before,
footer:before,
footer:after{
	content: " ";
	clear: both;
	display: table;
}

.wrapper,
.sec_block,
section,
header,
footer{
	display: block;
	clear: both;
}

.wrapper{
	position: relative;
	background: #fff;
	width: 100%;
	min-height: 700px;
}


